<div class="container-fluid pl-xl-0 pl-md-0 pl-sm-0 pl-0 pr-xl-3 pr-md-3 pr-sm-3 pr-3">
  <!-- <div class="card-deck">
    <div class="card mt-4" style="width: 18rem; background-color: #dfe3e6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 18rem; background-color: #dfe3e6">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 18rem; background-color: #dfe3e6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card mt-4" style="width: 18rem; background-color: #dfe3e6">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>   -->
  <div class="row">
    <div class="col-md-9 bg-blue">
      <div class="sub-bar">
        <div class="row">
          <div class="col-md-4 col-xl-3 col-sm-4 col-xl-2 col-4">
            <h6 class="text-white font-weight-bold mt-2 mb-2 ml-3 d-xl-block d-md-block d-sm-block d-none">App Rodmap</h6>
            <small class="text-white font-weight-bold font-11 mt-2 mb-2 ml-3 d-xl-none d-md-none d-sm-none d-block">App Rodmap</small>
          </div>
          <div class="col-md-4 col-xl-3 col-sm-4 col-xl-2 col-4">
            <div class="mt-xl-2 mt-1">
              <i class="fa fa-star-o text-white"></i>
              <i class="fa fa-suitcase ml-xl-3 text-white" aria-hidden="true"></i><small class="ml-xl-2 ml-1 text-white font-weight-bold">Private</small>
            </div>
          </div>
          <div class="col-md-4 col-xl-6 col-sm-4 col-4">
            <div class="text-xl-right text-sm-right">
              <a href="" id="menu-toggle">
                <i class="fa fa-ellipsis-h text-white mt-2"></i>
                <small class="text-white font-weight-bold">Show Menu</small>
              </a>  
            </div>
          </div>
        </div>
      </div>
      <div class="cards ml-3 mt-3">
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-light-gray mb-4">
              <div class="row mt-2 mb-2">
                <div class="col-md-6">
                  <small class="font-weight-bold pl-2">Social Media</small>
                </div>
                <div class="col-md-6">
                  <div class="text-right mr-3">
                    <i class="fa fa-angle-left font-weight-bold"></i>
                  </div>   
                </div>
              </div>  
              <div class="card ml-2 mr-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Twitter</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Facebook</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">linkedin</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Instagram</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Goggle</h6>
                </div>  
              </div>
              <div class="card-footer bg-light-gray custom-footer-hover">
                <div class="text-muted">
                  <small><i class="fa fa-plus"></i><font class="font-weight-bold ml-2">Add another card</font></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light-gray mb-4">
              <div class="row mt-2 mb-2">
                <div class="col-md-6">
                  <small class="font-weight-bold pl-2">Social Media</small>
                </div>
                <div class="col-md-6">
                  <div class="text-right mr-3">
                    <i class="fa fa-angle-left font-weight-bold"></i>
                  </div>   
                </div>
              </div>  
              <div class="card ml-2 mr-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Twitter</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Facebook</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">linkedin</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Instagram</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Goggle</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Twitter</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Facebook</h6>
                </div>  
              </div>
              <div class="card-footer bg-light-gray custom-footer-hover">
                <div class="text-muted">
                  <small><i class="fa fa-plus"></i><font class="font-weight-bold ml-2">Add another card</font></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light-gray mb-4">
              <div class="row mt-2 mb-2">
                <div class="col-md-6">
                  <small class="font-weight-bold pl-2">Social Media</small>
                </div>
                <div class="col-md-6">
                  <div class="text-right mr-3">
                    <i class="fa fa-angle-left font-weight-bold"></i>
                  </div>   
                </div>
              </div>  
              <div class="card ml-2 mr-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Twitter</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Facebook</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">linkedin</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Instagram</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Goggle</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Twitter</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Facebook</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">linkedin</h6>
                </div>  
              </div>
              <div class="card ml-2 mr-2 mt-2">
                <div class="card-body p-2">
                  <h6 class="mt-0 mb-0">Instagram</h6>
                </div>  
              </div>
              <div class="card-footer bg-light-gray custom-footer-hover">
                <div class="text-muted">
                  <small><i class="fa fa-plus"></i><font class="font-weight-bold ml-2">Add another card</font></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
     <!-- Sidebar -->
     <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Menu</h3>
      </div>

      <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="#">Home 1</a>
            </li>
            <li>
              <a href="#">Home 2</a>
            </li>
            <li>
              <a href="#">Home 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a href="#">Page 1</a>
            </li>
            <li>
              <a href="#">Page 2</a>
            </li>
            <li>
              <a href="#">Page 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Portfolio</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>

      <ul class="list-unstyled CTAs">
        <li>
          <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
      </ul>

      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->
</div>
</div>
</div>  